{% extends 'base.html'%}
{%load static%}

{%block head%}
    <link rel='stylesheet' href="{%static 'css/all_pets.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="stylesheet">


{%endblock%}
{%block content%}
{%if pets%}
    <h2 class="allpets-h2">Explore All of Our Lovely Pets</h2>
    <div class="card-container"> 
        {%for pet in pets%}
                <div class="pet-cards">
                    <img src= "{{pet.photo.url}}" style="height:250px; width:400px;"/>
                    <h4>Type: <span> {{pet.type}} <span> </h4> 
                    <h4>Breed: <span> {{pet.breed}} </span> </h4>
                    <h4>Availablity: <span>{{pet.is_available}} </span> </h4>
                    <div class="pets-card-btn-container">
                        <button  class="pets-card-btn1">Apply for adoption</button>
                        <button class="pets-card-btn2" >Add to Fav</button>
                    </div>
                </div>
        {%endfor%}
    </div>       
{%endif%}                  
{%endblock%}