{% extends 'base.html'%}
{%load static%}

{%block head%}
<link rel='stylesheet' href="{%static 'css/home.css'%}"/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
{%endblock%}

{%block content%}
<div class='main-home-container'>
    <div class='first-block'>
        <div class='home-welcome-msg'>
            <h1> Hello, {{user.first_name}}</h1>
            <h3> WELCOME TO PAWPAL </h3>
        </div>
        <lottie-player
            src="{% static 'animation/home_page_animation.json' %}"
            background="transparent"
            speed="1"
            class='lottie'
            loop
            autoplay>
        </lottie-player>
    </div>

    <div class='second-block'>
        <h1> about us </h1>
        <p> At PawPal, we believe every pet deserves a loving home, and every human deserves a loyal companion! 🐶🐱 <br/>
        Our platform makes finding your perfect furry friend simple, fun, and heartwarming.  </p>
        <strong>Browse adorable pets, learn their stories, and start your adoption journey today. Because sometimes, love comes with paws! </strong>
    </div>        
</div>    
{%endblock%}