{% extends 'base.html'%}
{%load static%}

{%block head%}
<link rel='stylesheet' href="{%static 'css/home.css'%}"/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
{%endblock%}

{%block content%}
<div class='main-home-container'>
    <div class='first-block'>
        <div class='home-welcome-msg'>
            <h1> Hello, {{user.first_name}}</h1>
        </div>
        <lottie-player
            src="{% static 'animation/home_page_animation.json' %}"
            background="transparent"
            speed="1"
            class='lottie'
            loop
            autoplay>
        </lottie-player>
    </div>  
</div>    
{%endblock%}