{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel='stylesheet' href="{%static 'css/landing.css'%}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="main-landing-container">
    <div class='first-row'>  
        <div class='animation'>  
            <lottie-player
            class="dog-animation"
            src="{% static 'animation/dog_landing.json' %}"
            background="transparent"
            speed="1"
            style="width: 400px; height: 220px;"
            loop
            autoplay>
        </lottie-player>

        </div>
        <div class="welcomeText">
            <h1>WELCOME TO PawPal</h1>
            <p> where every paw deserves a home.</p>
        </div>
    </div>

    <div class='second-row'>
        <h1> about us </h1>
        <p> At PawPal, we believe every pet deserves a loving home, and every human deserves a loyal companion! 🐶🐱 <br/>
        Our platform makes finding your perfect furry friend simple, fun, and heartwarming.  </p>
        <strong>Browse adorable pets, learn their stories, and start your adoption journey today. Because sometimes, love comes with paws! </strong>
    </div>
</div>
{% endblock %}


