{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href="{% static 'css/my_pets.css' %}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="mypets-mainConatiner"> 
    <a href="{% url 'add-pet' %}" class="add-pet-btn">+ Add Your Own Pet</a>
    <div class="section-title">
        <span>My Adopted Pets</span>
    </div>
    <div class="cards_container">
        {% if adopted_pets %}
            {% for pet in adopted_pets %}
                <div class="mypets-card" >
                        <img src='{{pet.photo.url}}'/>
                        <div class="card-content">
                            <span>{{ pet.breed }} {{ pet.type }}</span>
                        {% for adoption in pet.adoptionrequest_set.all %}
                        {% if adoption.user == request.user and adoption.adoption_status == 'Approved' %}
                            {% if adoption.pet_name %}
                                <p>Your Pet’s Name Is <strong class='pet-name'>{{ adoption.pet_name }} </strong></p>
                            {% else %}
                                <form method="POST" action="{% url 'name-pet-inline' adoption.id %}" class="inline-form">
                                    {% csrf_token %}
                                    <input type="text" name="pet_name" placeholder="Enter a name" required class="pet-name-input">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>No adopted pets yet</h3>
        {% endif %}
    </div>


   <div class="section-title">
        <span>My Favorite Pets</span>
    </div>
    <div class="fav-cards-container">
        {% if favorite_pets %}
            {% for pet in favorite_pets %}
                <div class="mypets-fav-card">
                    <a href="{% url 'pet-detail' pet.id %}">
                        <img src='{{ pet.photo.url }}'/>
                        <div class="fav-card-content">
                            <span>{{ pet.breed }} {{ pet.type }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no favorite pets yet.</p>
        {% endif %}
    </div>


    <div class="section-title">
        <span>My Personal pets</span>
    </div>
    <div class="fav-cards-container">
        {% if user_added_pets %}
        {% for pet in user_added_pets %}
            <div class="mypets-fav-card">
                <img src="{{ pet.photo.url }}" alt="{{ pet.pet_name|default:pet.breed }}">
                <div class="card-content">
                    <span>{{ pet.pet_name}}</span>
                    <span>{{ pet.pet_name}} {{ pet.type }}</span>
                    <p>{{ pet.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You haven’t added any pets yet.</p>
    {% endif %}
    </div>

</div>
{% endblock %}
