.main-home-container{
    display: flex;
    flex-direction: column;
}

.first-block{
    justify-content: center;
    height: 692px;
    top: -19px;
    position: relative;
}
.second-block{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    background-color:#fdebd3;
    padding: 60px;
    height: 700px;
    margin-top: -55px;
}
.second-block h1{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    text-transform: capitalize;
}
.second-block p{
    font-size: 22px;
    /* align-self: center; */
    /* justify-self: center; */
    text-align: justify;
}
.second-block strong{
    font-size: 20px;
    /* text-align: center; */
    text-transform: capitalize;
}
.lottie {
    position: relative;
    width: 90%;
    height: 90%;
    opacity: 0.8;
    /* z-index: -1; */
    left:110px;
    /* top:-100; */
}

.home-welcome-msg{
    position: absolute;
    text-align: center;
    padding: 20px;
    z-index: 1;
    left:180px;
}

.home-welcome-msg h1 {
    font-size: 75px;
    font-family: "Dancing Script", cursive;

}

.home-welcome-msg h3 {
    color: #333;
    font-size: 20px;


}



@media (max-width: 768px) {
    .home-container {
        height: 80vh;
    }

    .home-welcome-msg h1 {
        font-size: 2rem;
    }

    .home-welcome-msg h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .home-container {
        height: 70vh;
    }

    .home-welcome-msg {
        padding: 10px;
    }

    .home-welcome-msg h1 {
        font-size: 1.5rem;
    }

    .home-welcome-msg h3 {
        font-size: 1rem;
    }
}
