.signup-form{
    padding: 40px;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-self: center;
    background-color: #FFF8E7;
    border-radius: 10px;
   
}

.signup-form input{
    border-radius: 5px;
    border:1px solid grey;
    width:100%;
    padding: 10px;
    
}

.signup-form label{
    margin-right: 10px;
    font-weight: bold;
    color:#857163f6;
}

.helptext{
    color: #aa8f7cd2;
    display: block;
    font-size: 13px;
}

.signup-form li{
    color: #aa8f7cd2;
    display: block;
    font-size: 13px;
    margin-left: -40px;
}

.haveAnAccText{
    font-weight: bold;
    text-align: center;

}
.loginButton{
    text-decoration: underline;
    color: #FEE2AD;
  
}

.signup-submitbtn{
    width: 50%;
    margin: 0 auto;
    padding:10px;
    background-color: #F4A261;
    color:white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 15px;
}